

 body {
    background-color: white;
}

h2 {
 border-style: inset;
    border-width: 5px;
    color: red;
    text-align: center;
   font-family: verdana;
}

p {
 border-style: outset;
    border-width: 5px;
    font-family: verdana;
    font-size: 20px;
     text-align: center;
}
